@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
}

.ScrollbarStyle {
    overflow-x: hidden;
    overflow-y: auto;
}

    .ScrollbarStyle::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 15px;
        height: 1px;
    }

    .ScrollbarStyle::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 5px;
        background-color: skyblue;
        background-image: -webkit-linear-gradient( 45deg, deepskyblue 25%, transparent 25%, transparent 50%,deepskyblue 50%, deepskyblue 75%, transparent 75%, transparent );
    }

        .ScrollbarStyle::-webkit-scrollbar-thumb:hover {
            border: solid 2px lightyellow;
        }

    .ScrollbarStyle::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: lightgray;
        border-radius: 5px;
    }

    .ScrollbarStyle::-webkit-scrollbar-button:single-button {
        display: block;
        height: 20px;
        background: lightgreen;
    }
        /*顶部*/
        .ScrollbarStyle::-webkit-scrollbar-button:single-button:vertical:increment {
            background-image: url('../img/ComboBoxD.png');
            background-repeat: no-repeat;
            background-size: 100%;
        }

            .ScrollbarStyle::-webkit-scrollbar-button:single-button:vertical:increment:hover {
                background-color: skyblue;
            }
        /*底部*/
        .ScrollbarStyle::-webkit-scrollbar-button:single-button:vertical:decrement {
            background-image: url('../img/ComboBoxU.png');
            background-repeat: no-repeat;
            background-size: 100%;
        }

            .ScrollbarStyle::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
                background-color: skyblue;
            }

#NoticeTitle {
    margin-top: 10px;
}

#NoticeContent {
    margin-top: 20px;
}

input[type=checkbox] {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
    input[type=checkbox]:hover {
        box-shadow: 0px 0px 3px 3px lightyellow;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    input[type=checkbox]:after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: solid 3px white;
        background:lightyellow;
        border-radius: 3px;
    }

    input[type=checkbox]:checked:after {
        content: "";
        background-image: url('/img/CheckedICON.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: lightpink;
        border: none;
    }


.topvideo {
    margin: 0 auto;
}

@media (max-width: 576px) {
    .smlrecent {
        display: block;
    }

    .topvideo {
        display: none;
    }
}

@media (min-width: 576px) {
    .smlrecent {
        display: none;
    }
}

.RecentLists {
    cursor: pointer;
}

    .RecentLists:hover {
        background: lightblue;
    }

.RecentTable {
    width: 250px;
}

    .RecentTable .RTWidth {
        width: 80px;
    }

    .RecentTable img {
        height: 50px;
    }

#VList {
    max-height: 1000px;
    width: 100%;
    backdrop-filter: blur(20px) brightness(100%) saturate(80%);
}

    #VList table {
        float: left;
        background: gray;
        /*
        backdrop-filter: blur(20px) brightness(160%) saturate(80%);
        -webkit-backdrop-filter: blur(20px) brightness(160%) saturate(80%);
         */
        border-radius: 6px;
        height: 200px;
        width: 300px;
        margin: 10px;
    }

        #VList table * :not(.VListBtn) {
            margin-left: 5px;
        }

@media (max-width: 576px) {
    #VList {
        margin-right: 5px;
        width: auto;
    }
        #VList table {
            height: 150px;
            width: 150px;
        }
    .VListBtn {
        height: 20px !important;
    }
}


.VListBtn {
    position: relative;
    border: none;
    background-color: lightgreen;
    border-radius: 3px;
    height: 30px;
    width: 100%;
}

    .VListBtn:hover {
        background-color: lightblue;
    }

.VLCBtn {
    background: lightblue;
}

.RM3UBtn {
    position: relative;
    float: left;
    border: none;
    background-color: lightgreen;
    border-radius: 3px;
    height: 30px;
    width: 100%;
}

.RM3UBtnL {
    width: 200px;
    border-radius: 3px 0 0 3px;
}

.RM3UBtnR {
    width: 25px;
    border-radius: 0 3px 3px 0;
    background-image: url('../img/ComboBoxD.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: left;
}

.rmpdiv {
    overflow: hidden;
}

    .rmpdiv:hover + .rmpdiv2 {
        display: block;
    }

    .rmpdiv:hover .RM3UBtnR {
        background-image: url('../img/ComboBoxU.png');
    }

.rmpdiv2 {
    position: absolute;
    display: none;
    z-index: 10;
}

    .rmpdiv2:hover {
        display: block;
    }

.RM3UList {
    position: relative;
    border: none;
    background-color: lightgreen;
    height: 30px;
    width: 225px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .RM3UList:hover {
        background-color: lightblue;
        min-height: 30px;
        height: auto;
        white-space: normal;
        box-shadow: 0px 0px 3px 3px lightblue;
    }

    .RM3UList .rmnum p
    {
        text-align:center;
    }
    .RM3UList .rotable {
        font-size: 0.8em;
    }
    .RM3UList .rotable p{
margin:0 5px;
    }

    .RM3UList .rmreg {
        margin-left: 5px;
        font-size: 0.8em;
    }

.whitetext {
    color: white;
}

.sorttext {
    margin-top: 20px;
}

.shownotice {
    background: lightpink;
    z-index: 10;
    position: fixed;
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px lightpink;
    margin: 0 auto;
    left: 10%;
    right: 10%;
    top: 50%;
    text-align: center;
}

    .shownotice .sncn {
        height: 30px;
        position: relative;
        border: none;
        border-radius: 3px;
        background-color: lightyellow;
        margin-bottom: 10px;
        bottom: 0;
    }

        .shownotice .sncn:hover {
            box-shadow: 0px 0px 3px 3px lightyellow;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .shownotice .sncn:focus {
            box-shadow: 0px 0px 3px 3px white;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }


.loadingdialog {
    color: white;
    width: 200px;
    text-align: center;
    display: none;
}

.loadingThree {
    width: 150px;
    height: 15px;
    margin: 20px;
}

    .loadingThree span {
        display: inline-block;
        width: 15px;
        height: 100%;
        margin-right: 5px;
        border-radius: 50%;
        background: deepskyblue;
        -webkit-animation: load 1.04s ease infinite;
    }

        .loadingThree span:last-child {
            margin-right: 0px;
        }

@-webkit-keyframes load {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loadingThree span:nth-child(1) {
    -webkit-animation-delay: 0.13s;
}

.loadingThree span:nth-child(2) {
    -webkit-animation-delay: 0.26s;
}

.loadingThree span:nth-child(3) {
    -webkit-animation-delay: 0.39s;
}

.loadingThree span:nth-child(4) {
    -webkit-animation-delay: 0.52s;
}

.loadingThree span:nth-child(5) {
    -webkit-animation-delay: 0.65s;
}


@media (max-width: 576px) {
    .maintip {
        display: none;
    }

    .maintip2 {
        display: block;
    }
}

@media (min-width: 576px) {
    .maintip {
        display: block;
    }

    .maintip2 {
        display: none;
    }
}

.editpanel {
    background: lightyellow;
    box-shadow: 0px 0px 5px 5px lightyellow;
    padding: 10px;
    width: 500px;
    text-align: center;
    display: none;
}
    .editpanel table {
        margin: 0 auto;
    }
.edittitle p
{
    display:unset;
}
#OldM3U8Name {
    font-weight: bold;
}
#EditTemp{
    display: none;
}
.m3u8editTb {
    margin:20px 0;
    height: 30px;
    width: 150px;
    background: lightblue;
    border: none;
    border-radius: 3px;
    outline: none;
}
.UpdM3U8Btn {
    border: none;
    background: lightblue;
    border-radius: 3px;
    height: 30px;
}

#RM3UPanel {
    width: 100%;
}

    #RM3UPanel .rpbody {
        float: right;
        margin-top: -40px;
    }

    #RM3UPanel .dialog {
        z-index: 10;
        position: absolute;
        display: none;
        border-radius: 5px;
        padding: 5px;
        background-color: skyblue;
    }

    #RM3UPanel .quelogo:hover + .dialog {
        display: block;
    }

    #RM3UPanel .dialog:hover {
        display: block;
    }

@media (max-width: 576px) {
    #RM3UPanel {
        margin-top: 50px;
    }
}

.MToolsPanel {
    display: none;
    margin:10px;
}
    .MToolsPanel .sblock {
        margin-left: 40px;
        text-align: center
    }
.m3u8searchTb {
    height: 35px;
    width: 200px;
    background: lightblue;
    border: none;
    border-radius: 3px;
    outline: none;
}
.m3u8searchBtn {
    margin-left:10px;
    height: 35px;
    width: 35px;
    background-image: url('../img/SearchM3U8.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightblue;
    border: none;
    border-radius: 3px;
}
.m3urestore {
    margin-left: 10px;
    height: 35px;
    width: 35px;
    background-image: url('../img/RestoreM3U.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightpink;
    border: none;
    border-radius: 3px;
}


.saveedit {
    height: 35px;
    width: 35px;
    background-image: url('../img/SaveEM3U.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightblue;
    border: none;
    border-radius: 3px;
}
#SCPanel {
    display:none;
}
#SCPanel >*
{
    float:left;
}

.quelogo {
    background-image: url('../img/Question.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    height: 25px;
    width: 25px;
}

    .quelogo:hover {
        background-color: lightblue;
        box-shadow: 0px 0px 3px 3px lightblue;
    }

#testtest {
    margin-top: 10px;
}

    #testtest .vlistItems {
        overflow: hidden;
    }

    #testtest .vlistItem {
        float: left;
        margin-top: 5px;
    }

@media (max-width: 576px) {
    #testtest {
        margin-right: 10px;
    }
}


@media (max-width: 576px) {
    .vlistLogo {
        width: 50px;
    }
}

@media (min-width: 576px) {
    .vlistLogo {
        width: 200px;
    }
}

.vlistLogo {
    margin: 0 10px;
    float: left;
}


.vlistlink {
    text-decoration: none;
    position: relative;
}

    .vlistlink:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: lightyellow;
        transform: scaleX(0);
        transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform-origin: center;
    }

    .vlistlink:hover:after {
        transform: scaleX(1);
    }

.vlistRight {
    height: 30px;
    width: 50px;
    color: black !important;
    text-align: center;
    font-size: 1.2em !important;
    background-color: lightblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 5px;
    border: none;
    float: right;
    margin: 5px;
}

.prevlogo {
    background-image: url('../img/PrevM3U8.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-attachment: local;
    background-position: center;
}
.editlogo {
    background-image: url('../img/EditM3U8.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-attachment: local;
    background-position: center;
    background-color: lightyellow;
    outline: none;
}
@media (max-width: 576px) {
    .prevlogo {
        display: none;
    }
}

.dellogo {
    background-image: url('../img/DeleteM3U8.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-attachment: local;
    background-position: center;
    background-color: lightpink;
    outline: none;
}

.CM3U8Panel {
    display: none;
    width: 100%;
    margin-top: 20px;
}

.CVListPanel {
    width: 100%;
    margin-top: 20px;
}

.CM3U8Btn, .CVListBtn {
    margin: 0 auto;
    width: 50%;
}

    .CM3U8Btn input, .CVListBtn input {
        margin-left: 20px;
        height: 30px;
        background: lightyellow;
        border: none;
        border-radius: 3px;
    }

        .CM3U8Btn input:hover, .CVListBtn input:hover {
            box-shadow: 0px 0px 3px 3px lightyellow;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .CM3U8Btn input:focus, .CVListBtn input:focus {
            box-shadow: 0px 0px 3px 3px white;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

#CMFP, #CMLP, #CVListFP, #CVListLP {
    background: lightpink;
}

@media (max-width: 576px) {
    .CM3U8Btn, .CVListBtn {
        margin: 0 auto;
        width: auto;
    }

        .CM3U8Btn input, .CVListBtn input {
            margin-left: 5px;
        }
}



.aycBKG {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 1000px;
}

    .aycBKG a {
        color: lightgreen;
        font-size: 1.2em;
    }

        .aycBKG a:hover {
            color: lightblue;
        }

.allAyc {
    backdrop-filter: blur(20px) brightness(100%) saturate(80%);
    -webkit-backdrop-filter: blur(20px) brightness(100%) saturate(80%);
    border-radius: 6px;
}

.removeCMP {
    margin: 0 5px 0 30px;
    padding: 0;
}
/*顶部自适应*/
@media (max-width: 576px) {
    .removeCMP {
        display: block !important;
    }
}

.aboutCenter {
    margin: 0 45%;
}

    .aboutCenter p {
        margin: 0 20px;
    }

.aboutIcon {
    border-radius: 10px;
    height: 100px;
    background-repeat: no-repeat;
}

.teamIcon {
    border-radius: 10px;
    width: 180px;
    background-repeat: no-repeat;
}

.aboutSt {
    border-radius: 6px;
    width: 160px;
    height: 50px;
    background-color: lightblue;
    float: left;
    margin: 20px 10px 20px 5px;
    cursor: pointer;
}

    .aboutSt img {
        margin-left: 5px;
        height: 35px;
        width: 35px;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: solid 1px black;
    }

    .aboutSt p {
        margin: auto;
    }

    .aboutSt:hover {
        background-color: skyblue;
    }

.aboutayc {
    padding: 10px;
}

.tpvideo {
    display: none;
}


.hover-lightblue:hover {
    box-shadow: 0px 0px 3px 3px lightblue !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.hover-lightpink:hover {
    box-shadow: 0px 0px 3px 3px lightpink !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.hover-lightyellow:hover {
    box-shadow: 0px 0px 3px 3px lightyellow !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.focus-white:focus {
    box-shadow: 0px 0px 3px 3px white !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.focus-lightpink:focus {
    box-shadow: 0px 0px 3px 3px lightpink !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.focus-lightblue:focus {
    box-shadow: 0px 0px 3px 3px lightblue !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
