/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #191a20;
    background-image: url('../img/MainpageBKG.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.mainPageLogo {
    background-repeat: no-repeat;
    height: 80px;
    margin-left: -40px;
    cursor: pointer;
}

.embedded {
    margin-top: 110px;
    width: 100%;
    padding: 10px;
}

.contentArea {
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.headerStyle {
    backdrop-filter: blur(20px) brightness(160%) saturate(80%);
    -webkit-backdrop-filter: blur(20px) brightness(160%) saturate(80%);
    border-radius: 6px;
    width: 80%;
    margin: 0 auto;
}

    .headerStyle h3,.headerStyle p {
        color: white;
    }

/* Provide sufficient contrast against white background */
a {
    color: lightyellow;
}
a:hover {
    color: lightgreen;
    text-decoration:none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link {
    color:white !important;
}

    .nav-link:hover {
        color: lightblue !important;
    }

.transline {
    position: relative;
    float: left;
}
    .transline:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: lightgreen;
        transform: scaleX(0);
        transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform-origin: center;
    }

.transline:hover:after {
    transform: scaleX(1);
}

/* Sticky footer styles
-------------------------------------------------- */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
